/* reset */

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general */

body {
  font-size: 1.6rem;
  font-family: "Dosis", sans-serif;
  background-color: #ecf0f1;
  color: #7a7a7a;
}

section {
  margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #7a7a7a;
  margin: 0;
}

h1 {
  color: white;
  font-size: 6rem;
  margin: 2rem 0;
}

h2 {
  margin-bottom: 3rem;
  font-size: 4rem;
  text-transform: uppercase;
  color: #7a7a7a;
}

h3 {
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
}

h4 {
  font-size: 2.5rem;
  color: black;
  text-transform: uppercase;
}

h5 {
  font-size: 2rem;
  color: #e74c3c;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.button {
  margin: 4rem;
  padding: 1rem 2rem;
  background-color: #e74c3c;
  color: white;
  font-weight: bold;
}

.button:hover {
  background-color: #34495e;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

/* header */

.header {
  background-color: #e74c3c;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}

.logo {
  background-color: #e74c3c;
  display: flex;
  padding: 0 4rem;
}

.flex-nav {
  display: flex;
}

.flex-nav a {
  padding: 1rem 0;
  margin: 0 4rem;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.flex-nav a:hover {
  color: #34495e;
  border-bottom: 1px solid #34495e;
}

@media screen and (max-width: 1100px) {
  .header {
    flex-direction: column;
    position: relative;
    width: auto;
  }

  .flex-nav {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 720px) {
  .flex-nav {
    flex-direction: column;
  }

  .flex-nav li {
    margin: 1rem;
    text-align: center;
  }
}

/* Acceuil */

.heading-title {
  background-image: url("../ressources/images/restaurant.jpg");
  background-size: cover;
  background-position: center;
  background-color: #2c2c2c;
  background-blend-mode: lighten;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 4rem;
}

.heading-title-button {
  padding: 4rem 0;
}

/* Menu */

.flex-presentation {
  display: flex;
  margin-bottom: 4rem;
}

.text-presentation {
  width: 50%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-presentation {
  width: 50%;
  padding: 0 2rem;
}

#flex-nav-menu {
  background-color: #e74c3c;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
}

.fixed {
  top: 0px;
  position: fixed;
  width: 100%;
}

.flex-picto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-picto i {
  margin-bottom: 1rem;
  font-size: 3rem;
  color: white;
}

.flex-picto a {
  font-size: 3rem;
  text-transform: uppercase;
}

.flex-picto a:hover {
  color: #34495e;
}

@media screen and (max-width: 1100px) {
  .container h2,
  .container h3,
  .container p {
    margin-left: 2rem;
  }

  .text-presentation p {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .flex-presentation {
    flex-direction: column;
  }

  .text-presentation {
    width: 100%;
    margin-left: 0;
  }

  .text-presentation p {
    margin-left: 0;
  }

  .img-presentation {
    width: 100%;
  }
}

/* pizza */

.background-menu-pizza {
  background-image: url("../ressources/images/background-pizza-1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2c2c2c;
  background-blend-mode: overlay;
  padding: 8rem 0;
  margin-bottom: 2rem;
}

.background-menu-pizza p {
  color: white;
  font-size: 3rem;
}

.flex-pizza {
  display: flex;
  justify-content: space-between;
}

.flex-pizza p {
  margin: 0.5rem 0;
}

.margin {
  margin-bottom: 2rem;
}

.flex-size,
.flex-price {
  display: flex;
}

.flex-size p,
.flex-price p {
  padding: 0 1rem;
}

.flex-size p {
  color: #e74c3c;
  font-weight: bold;
}

.flex-price p {
  margin-left: 2rem;
  font-weight: bold;
  color: black;
}

.flex-pizza .content-menu p:nth-child(odd) {
  color: #e74c3c;
  font-weight: bold;
  font-size: 2rem;
}

.flex-pizza .content-menu p:nth-child(even) {
  font-style: italic;
}

.border-bottom {
  border-bottom: 2px solid #e74c3c;
  margin: 1rem 0;
}

@media screen and (max-width: 1100px) {
  .flex-pizza div {
    margin: 0 2rem;
  }
}

/* Dessert */

.background-menu-dessert {
  background-image: url("../ressources/images/background-dessert-1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2c2c2c;
  background-blend-mode: overlay;
  padding: 8rem 0;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.background-menu-dessert p {
  color: white;
  font-size: 3rem;
}

.flex-dessert {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.flex-dessert p {
  margin: 0.5rem 0;
}

.flex-dessert .content-dessert p:nth-child(odd) {
  color: #e74c3c;
  font-weight: bold;
  font-size: 2rem;
}

.flex-dessert .content-dessert p:nth-child(even) {
  font-style: italic;
}

@media screen and (max-width: 1100px) {
  .flex-dessert div {
    margin: 0 2rem;
  }
}

/* Vin */

.background-menu-vin {
  background-image: url("../ressources/images/background-vin-1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2c2c2c;
  background-blend-mode: overlay;
  padding: 8rem 0;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.background-menu-vin p {
  color: white;
  font-size: 3rem;
}

.flex-vin {
  display: flex;
  justify-content: space-between;
}

.flex-vin p {
  margin: 0.5rem 0;
}

.flex-vin .flex-price p {
  margin-left: 3rem;
}

.flex-vin .content-menu p:nth-child(odd) {
  color: #e74c3c;
  font-weight: bold;
  font-size: 2rem;
}

.flex-vin .content-menu p:nth-child(even) {
  font-style: italic;
}

@media screen and (max-width: 1100px) {
  .flex-vin div {
    margin: 0 2rem;
  }
}

/* formule */

.background-menu-formule {
  background-image: url("../ressources/images/background-formule-1.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2c2c2c;
  background-blend-mode: overlay;
  padding: 8rem 0;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.background-menu-formule p {
  color: white;
  font-size: 3rem;
}

/* Background */

.background {
  background-image: url(../ressources/images/pizza.jpg);
  background-position: top bottom;
  background-size: cover;
  background-color: #2c2c2c;
  background-blend-mode: overlay;
  padding: 20rem;
}

.background-where {
  background-image: url(../ressources/images/where-background.jpg);
  background-position: center center;
  background-size: cover;
  background-color: #2c2c2c;
  background-blend-mode: overlay;
  padding: 20rem;
}

/* Chief-cook */

#chef h2 {
  margin-top: 3rem;
}

.flex-bio {
  display: flex;
}

.flex-bio-content {
  width: 70%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  letter-spacing: 1.2px;
  line-height: 1.5;
}

.flex-bio-img {
  width: 30%;
  padding: 0 2rem;
}

.flex-bio-img img {
  height: 400px;
}

@media screen and (max-width: 1100px) {
  .flex-bio-content p {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .flex-bio {
    flex-direction: column;
  }

  .flex-bio-content {
    width: 100%;
    margin-bottom: 1rem;
  }

  .flex-bio-content p {
    margin-left: 0;
  }

  .flex-bio-img {
    width: 100%;
    text-align: center;
  }

  .flex-bio-img img {
    height: 700px;
  }
}

/* where */

#where h2 {
  margin-top: 3rem;
}

.flex-where {
  display: flex;
}

.where-text-content {
  width: 50%;
  margin: 0 2rem;
}

.where-text-content h3 {
  color: #e74c3c;
}

.where-text-content p {
  margin: 2rem 0;
  letter-spacing: 1.2px;
  line-height: 1.2;
}

.where-map-content {
  width: 50%;
  margin: 0 2rem;
}

.where-map-content iframe {
  box-shadow: -5px 9px 14px 0px #7a7a7a;
}

.border-bottom-gray {
  border-bottom: 2px solid #7a7a7a;
  margin: 1.5rem 0 3rem;
}

@media screen and (max-width: 1100px) {
  iframe {
    width: 450px;
  }
  .where-text-content h3 {
    margin: 0;
  }
}

@media screen and (max-width: 900px) {
  iframe {
    width: 750px;
  }

  .flex-where {
    flex-direction: column;
  }

  .where-text-content,
  .where-map-content {
    width: calc(100% - 4rem);
    margin: 1rem 2rem;
  }

  .where-map-content {
    text-align: center;
  }

  .border-bottom-gray {
    margin: 1.5rem 2rem 3rem;
  }
}

@media screen and (max-width: 780px) {
  iframe {
    width: 600px;
  }
}

@media screen and (max-width: 650px) {
  iframe {
    width: auto;
  }
}

@media screen and (max-width: 400px) {
  iframe {
    width: auto;
  }
}
/* Carroussel */

.carroussel-img {
  max-height: 700px;
  overflow: hidden;
}

@media screen and (max-width: 1050px) {
  .carroussel-img img {
    max-height: 800px;
  }
}

/* Footer */

.footer {
  padding: 4rem;
  display: flex;
  justify-content: space-around;
  background-color: #34495e;
  color: white;
}

.address {
  text-align: center;
}

.address h5 {
  margin-bottom: 3rem;
}

.address p {
  margin: 1rem 0;
}

.footer .flex-picto {
  flex-direction: row;
}

footer .flex-picto i {
  padding: 1rem 2rem;
}

footer .flex-picto i:hover {
  color: #e74c3c;
}

.copyright {
  background-color: #2c2c2c;
  color: white;
  text-align: center;
  padding: 2rem;
}

@media screen and (max-width: 720px) {
  .footer {
    flex-direction: column;
  }

  .address {
    margin-bottom: 1rem;
  }

  footer .flex-picto {
    justify-content: center;
  }
}
